@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap);

button {
    font-family: 'Roboto Slab', serif;
    font-size: large;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s 0s linear;
}

button:hover {
    background-color: #c5c5c5;
}

button.danger {
    background-color: #D9333F;
    color: white;
}

button.danger:hover {
    background-color: #b22d35;
    color: white;
}

button.success {
    background-color: #75BA39;
    color: white;
}

button.success:hover {
    background-color: #609631;
    color: white;
}

button.attention {
    background-color: #F0E639;
    color: black;
}

button.attention:hover {
    background-color: #d3ca2a;
    color: black;
}

button.primary {
    background-color: #1EC2E2;
    color: white;
}

button.primary:hover {
    background-color: #26a2bb;
    color: white;
}

body {
    background-color: white;
}
